@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --progress-bar-width: 75px;
  --progress-bar-height: 75px;
  --font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Courier, monospace;
}

body {
  background: #1c1b23;
  color: #fffdff;
  width: 350px;
  max-height: 300px;
  position: relative;
  vertical-align: middle;
}

.logo {
  width: 30px;
  height: 30px;

}

.safeguard {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #181039;
}

.topbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
  background: #6a5acd;
  border-bottom: 1px #393840 solid;
}

.url-display {
  padding: 5px 8px;
  background: #3831618f;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.checks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 25px 0;
}

.metacarpal-pad {}

.checks-secondary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.checks-secondary>* {
  width: 33%;
}